@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Abril'; 
  src: url('/fonts/AbrilFatface-Regular-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SourceHanSans'; 
  font-display: swap;
  src: url('/fonts/SourceHanSansSC-VF.otf.woff2') format('woff2');
}

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
}