@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Abril';
    src: url('/fonts/AbrilFatface-Regular-2.woff2') format('truetype');

    font-family: 'Source';
    src: url('/fonts/SourceHanSansSC-Normal-2.woff2') format('truetype');

    font-family: 'Inter9';
    src: url('/fonts/Inter-Regular-9.woff2') format('truetype');
    
  }
